//  ========
//  = Tags =
//  ========

*
  box-sizing border-box

*:focus
  outline none


body
  font-size font-size
  line-height ln-height
  font-family font
  color txt-color

h1
  font-size 1.7em
  line-height 1.2
  padding 1.3em 0 0 0
  text-transform uppercase
  color color-3
  font-weight 700

h2
  color color-3
  font-size 1.5em
  text-transform uppercase
  margin 0
  font-weight 300

h3
  color color-3
  font-size 1.3em
  margin 0 0 1em 0
  text-transform uppercase

p
  margin 1.5em 0

strong
  font-weight bold

a
  color link-color
  transition all transition-speed ease-in-out
  text-decoration none

img
  max-width 100%
  height auto

embed
iframe
object
video
  max-width 100%
  display block


//  =================
//  = Common styles =
//  =================

.center
  text-align center

.hidden
  display none

.hide-mobile
  +mobile()
    display none

.show-mobile
  +not-mobile()
    display none
