//  ===========
//  = Buttons =
//  ===========

button,
input[type=submit],
[class^=button]
  display inline-block
  border-radius radius
  padding 1em
  -webkit-appearance none
  transition all transition-speed ease-in-out

.button--main
  background color-2

  &:hover
    transform scale(1.02)
    background #fe582a

.button--second
  background color-1

  &:hover
    background #29d3df

.button--trans
  border border-thickness solid bright

.button--big
  font-size font-size

.button--shadow
  box-shadow shadow
